<div>
  <h3>Q: {{question.ask}}
    {{#if question.favorited}}
      <span class="glyphicon glyphicon-heart"></span>
    {{/if}}</h3>
  <h4>From: {{question.author}}</h4>
  <p>{{question.notes}}</p>
  {{#if question.favorited}}
    <span class="favorited"><p>You Favorited This Question :)</p></span>
  {{else}}
    <button {{action 'favorite' question}}>Favorite This Question</button>
  {{/if}}
</div>
